.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.env
.idea/
.vscode/
*.log

model/
docs/

# Python package marker files
__init__.py
# Ignore all __init__.py in any subfolder
**/__init__.py

# Ignore test artifacts in output/
output/*.json
output/*.png
